$primary-color: #005dad;
$error-color: #ff7675;
$secondary-color: #ffd633;

/* Colores oscuros */
$dark-blue: #0984e3;
$dark-red: #d63031;
$dark-pink: #e84393;
$dark-green: #00b894;
$dark-orange: #e17055;
$dark-yellow: #fdcb6e;
$dark-purple: #6c5ce7;
$dark-turquoise: #00cec9;
$dark-dark-gray: #2d3436;
$dark-light-gray: #b2bec3;

/* Color sombreado */
$shadow: rgba(0, 0, 0, 0.25);
